<!DOCTYPE html>
<html>
  <head>
    <title>99%</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='income.css') }}" />
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='globals.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forms.css') }}" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.8.16.custom.css') }}" />
    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css' />-->
    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>-->
  </head>

  <body>    


  <!-- dependencies -->
  <script type="text/javascript" src="{{ url_for('static', filename='deps/d3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/jquery-1.6.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/underscore.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/jquery-ui-1.8.16.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/app.js') }}"></script>

  <!--<script type="text/javascript" src="{{ url_for('static', filename='deps/sammy.js') }}"></script>-->
  <!--<script type="text/javascript" src="deps/sprintf-0.7-beta1.js"></script>-->

  <!-- data files -->
  <script type="text/javascript" src="{{ url_for('static', filename='income_data.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='wages_data.js') }}"></script>

  <!-- display logic -->
  <script type="text/javascript" src="{{ url_for('static', filename='utilities.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='income.js') }}"></script>

  <script type="text/javascript">
    make_chart();
  </script>
</body>
</html>