<!DOCTYPE html>
<html>
  <head>
    <title>99%</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/income.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.8.16.custom.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>

  <body>    
    <div class="container">
      <div class="twelve columns">
          <div class="row">
            <div class="two columns"> </div>
            <div class="eight columns">
              <form action="/" method="post">
              <div class="row">
                <div class="center" id="income">
                  <h4>What will your <big>income</big>  be in 2011?</h4>
                  <center><input type="text" class="oversize input-text nice" placeholder="$40,000" name="income"/>
                  <span class="ui-icon ui-icon-help" id="income_help"></span><br>
                  <div id="income_helptext">Be sure to count all
    sources of <span class="term">cash income</span>. Include your pre-tax wages or salary, along with any income you receive from a business or a farm, any contributions your employer makes to your retirement plan. Include income you make from interest, dividends, or realized net capital gains, taxable distributions from your IRA, Social Security benefits, SSI, welfare payments (TANF), child support, alimony, pension income, disability benefits, veterans' benefits, energy assistance, income you earn outside of the United States, and your employer's share of your payroll taxes.</div></center>
                </div>
              </div>
              <div class="row">
                <div class="center" id="percent">
                  <h4>What <big>percent</big> do you think you're in?</h4>
                  <div id="slider"></div><br>
                  <div id="percent_result"
    style="visibility:hidden;">If your household is in the <big
    id="percent_select"></big> percentile, about <big
    id="percent_pop"></big> Americans live on less income than you do.</div>
                </div>
              </div>
              <div class="row">
                <div class="center" id="zip">
                  <h4>What's your <big>zipcode</big>?</h4>
                  <center><input type="text" class="oversize input-text nice" name="zip" /></center>
                </div>
              </div>
              <div class="row">
                <div class="center" id="submit">
                  <input type="submit" value="%" />
                </div>
                <input type="text" id="pct" name="pct" style="visibility:hidden;" />
              </div>

              <!--
              <div class="row" id="test">
                <div class="center" id="wages">
                  <h4>What were your <big>wages</big> in 2010?</h4>
                  <center><input type="text" class="oversize input-text nice" placeholder="$25,000" name="wages"/>
                  <span class="ui-icon ui-icon-help" id="wages_help"></span><br>
                  <div id="wages_helptext">Your pre-tax <span class="term">wages</span> should include your wages or salary, plus tips, any contributions your employer makes to your retirement plan, and your employer's share of your payroll taxes.</div></center>
                </div>
              </div>

              </div>
              <div class="row">
      					<div class="center">
      						<h4><span class="optional">Optional questions</span></h4>
      					</div>
                <div class="center" id="household">
                  <h4>For tax purposes, are you <big>single</big>,<br> part of a <big>married couple</big> that files its taxes jointly,<br> or a <big>head of household</big>?</h4><br>
                  <div id="radio">
                	  <input type="radio" id="radio1" name="single" /><label for="radio1">Single</label>
		                <input type="radio" id="radio2" name="filingjointly" /><label for="radio2">Married Filing Jointly</label>
		                <input type="radio" id="radio3" name="headofhousehold" /><label for="radio3">Head of Household</label>
                  </div>
                </div>
              </div>-->
              </form>
            </div>
            <div class="two columns">
            </div>
        </div>
      </div>
    </div>
    
  <!-- dependencies -->
  <script type="text/javascript" src="{{ url_for('static', filename='deps/jquery-1.6.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/jquery-ui-1.8.16.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/underscore.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='deps/d3.js') }}"></script>

  <!-- data files -->
  <script type="text/javascript" src="{{ url_for('static', filename='income_data.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='wages_data.js') }}"></script>

  <!-- display logic -->
  <script type="text/javascript" src="{{ url_for('static', filename='utilities.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='income.js') }}"></script>

  
  <script type="text/javascript">
    
    $(function () {
      $('#radio').buttonset();
      $('input:submit').button();
      $('#slider').slider({
        value:50,
        min: 0,
        max: 100,
        step: 1,
        slide: function (event, ui) {
        	var percentile = income_percentiles.percentiles[ui.value];
          $('#household, #zip, #submit').css('visibility', 'visible');
          $('#percent_select').html(percentile + ordinal(percentile));
          $('#percent_result').css('visibility', 'visible');
          $('#percent_pop').html((_.max(tax_units.num_people) * income_percentiles.percentiles[ui.value] / 100).toFixed(0) + " million");
          $('#pct').val(ui.value);
        }
      });
      
      var income_helptext_height = $('#income_helptext').height();
      /*var wages_helptext_height = $('#wages_helptext').height();*/
      $('#income_help').click(function() {
        if ($('#income_helptext').css('visibility') === "hidden") {
          $('#income_helptext').css('visibility', 'visible')
                        			 .css('height', income_helptext_height);
        } else {
          $('#income_helptext').css('visibility', 'hidden')
          										 .css('height', 0);
        }
      });
      /*$('#wages_help').click(function() {
        if ($('#wages_helptext').css('visibility') === "hidden") {
          $('#wages_helptext').css('visibility', 'visible')
                        			 .css('height', wages_helptext_height);
        } else {
          $('#wages_helptext').css('visibility', 'hidden')
          										 .css('height', 0);
        }
      });*/
      /*
      $('#income input').change(function () {
        $('#wages').css('visibility', 'visible');
      });
      
      $('#wages input').change(function () {
        $('#percent').css('visibility', 'visible');
        $('#percent_result').css('visibility', 'hidden');
      });
      
      $('#income').css('visibility', 'visible');*/
      $('#income_helptext').css('visibility', 'hidden')
                    			 .css('height', 0);
      $('#wages_helptext').css('visibility', 'hidden')
                    			.css('height', 0);

    });
  </script>
</body>
</html>